@model MVCBlog.Core.Entities.BlogEntry

<p>
    <i class="glyphicon glyphicon-calendar"></i> <time datetime="@this.Model.PublishDate.ToString("yyyy-MM-dd")">@this.Model.PublishDate.ToShortDateString()</time>

    @if (this.Model.Author != null)
    {
        <text>&nbsp; &nbsp;</text><i class="glyphicon glyphicon-user"></i> <text>@this.Model.Author</text>
    }

    &nbsp; &nbsp;<i class="glyphicon glyphicon-comment"></i> <a href="@Url.Action(this.Model.Url)#comments" title="@Common.ToComments">@this.Model.BlogEntryComments.Count</a>

    @if (this.Request.IsAuthenticated)
    {
        <text>&nbsp; &nbsp;</text><i class="glyphicon glyphicon-edit"></i> <a href="@Url.Action(MVC.Administration.EditBlogEntry(this.Model.Id))" title="@Common.Edit">@Common.Edit</a>
        <text>&nbsp; &nbsp;</text><i class="glyphicon glyphicon-remove-circle"></i> <a href="@Url.Action(MVC.Blog.Delete(this.Model.Id))" class="adminlink deleteicon" title="@Common.Delete" onclick="if (!confirm('@Common.DeleteConfirmation')) { return false;}">@Common.Delete</a>
    }
</p>