@model MVCBlog.Website.Models.OutputModels.Administration.EditBlogEntry

@section HeaderContent {
}

@section ScriptContent {
    <script type="text/javascript" src="@Links.Scripts.tiny_mce.jquery_tinymce_js"></script>
    <script type="text/javascript" src="@Links.Scripts.tiny_mce.tiny_mce_js"></script>
<script type="text/javascript" src="@Links.Scripts.jquery_autocomplete_pack_js"></script>
    <script type="text/javascript" src="@Links.Scripts.customEditBlogEntry_js"></script>

    <script type="text/javascript">
        /* <![CDATA[ */
        $(function() {
            $("input.tag").autocomplete(@this.Model.TagsAsJsonString, {
                multiple: false,
                minChars: 0
            });
        });
        /* ]]> */
    </script>
}

@{
    string baseUrl = this.Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~/");
}

@if (this.Model.IsUpdate)
{
    <div class="alert alert-info">
        <i class="glyphicon glyphicon-arrow-right"></i> @Html.ActionLink(@Common.ShowPost, this.Model.BlogEntry.Url, MVC.Blog.Name)
    </div>
}

<div id="imageHelper" style="position: fixed; margin: auto; width: 830px; top: 60px; padding: 30px; background-color: #ffffff; visibility: hidden; border: 5px solid #dcdcdc;">
    <h1>
        @Common.AddImage</h1>
        <img id="ImagePreview" src="" alt="" style="position: absolute; top: 10px; right: 10px; width: 80px;" />
    <div class="form-group">
        @Html.DropDownList("ImageDropDown", this.Model.Images.Select(i => new SelectListItem() { Text = i.Name, Value = baseUrl + i.RelativePath }), Common.SelectImage, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Image">@Common.HTMLCode:</label><br />
        @Html.TextBox("Image", null, new { @class = "form-control" })
    </div>
   <div class="form-group">
        <label for="ImageLightbox">@Common.HTMLCodeLightbox:</label><br />
        @Html.TextBox("ImageLightbox", null, new { @class = "form-control" })
    </div>
    <p>
        <a id="closeImageLink" href="javascript:void(0);">[@Common.Close]</a>
    </p>
</div>

@using (Html.BeginForm())
{
    <h2>@Common.MetaData</h2>
        <div class="form-group">
            @Html.LabelFor(m => m.BlogEntry.Header)
            @Html.TextBoxFor(m => m.BlogEntry.Header, new { maxlength = 150, @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BlogEntry.Author)
            @Html.TextBoxFor(m => m.BlogEntry.Author, new { maxlength = 100, @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.BlogEntry.PublishDate)
            @Html.TextBox("PublishDate", this.Model.BlogEntry.PublishDate, new { @class = "form-control" })
        </div>
        <div class="checkbox">
            <label class="checkbox">
                @Html.CheckBoxFor(m => m.BlogEntry.Visible)
                @Html.LabelFor(m => m.BlogEntry.Visible)
            </label>
        </div>
        <h2>@Common.Content</h2>
        <div>
            <div class="pull-right small">
                <a class="addImage" href="javascript:void(0);">@Common.AddImage</a>
                <a id="toggleShortContentEditor" href="javascript:void(0);">@Common.LoadEditor</a>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BlogEntry.ShortContent)
                @Html.TextAreaFor(m => m.BlogEntry.ShortContent, new { rows = 8, @class = "form-control tinymce" })
                <span id="ShortContentCounter" class="counter" title="@Common.RemainingChars"></span>
            </div>
        </div>
        <div class="pull-right small">
            <a class="addImage" href="javascript:void(0);">@Common.AddImage</a> 
            <a id="toggleContentEditor" href="javascript:void(0);">@Common.LoadEditor</a>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BlogEntry.Content)
            @Html.TextAreaFor(m => m.BlogEntry.Content, new { rows = 15, style = "width: 100%;", @class = "form-control tinymce" })
        </div>
        <h2>@Common.Tags</h2>
        <div class="form-group">
            @Html.TextBox("Tag1", this.Model.GetTagName(0), new { @class = "tag form-control form-control-inline", maxlength = 30 })
            @Html.TextBox("Tag2", this.Model.GetTagName(1), new { @class = "tag form-control form-control-inline", maxlength = 30 })
            @Html.TextBox("Tag3", this.Model.GetTagName(2), new { @class = "tag form-control form-control-inline", maxlength = 30 })
        </div>
        <div class="form-group">
            @Html.TextBox("Tag4", this.Model.GetTagName(3), new { @class = "tag form-control form-control-inline", maxlength = 30 })
            @Html.TextBox("Tag5", this.Model.GetTagName(4), new { @class = "tag form-control form-control-inline", maxlength = 30 })
            @Html.TextBox("Tag6", this.Model.GetTagName(5), new { @class = "tag form-control form-control-inline", maxlength = 30 })
        </div>
    <p>
        <input type="submit" value="@Common.Save" class="btn btn-primary" />
    </p>
}

@if (this.Model.IsUpdate)
{
    using (Html.BeginForm(MVC.Administration.PerformPingbacks(this.Model.BlogEntry.Id), FormMethod.Post))
    {
        <h2>@Common.Pingbacks</h2>
        <p>
            @{
        string disabled = this.Model.BlogEntry.Visible ? string.Empty : "disabled=\"disabled\"";
        string explanation = this.Model.BlogEntry.Visible ? string.Empty : Common.PingbackOnlyWhenVisible; 
            }
            <input type="submit" value="@Common.PerformPingbacks" @disabled class="btn" />
            @explanation
        </p>
    }

    <form action="@Url.Action(MVC.Administration.FileUpload(this.Model.BlogEntry.Id, null))" method="post" enctype="multipart/form-data">
        <h2>@Common.Files</h2>
        <p>
            @{Html.RenderPartial(MVC.Administration.Views._BlogEntryFileControl, this.Model.BlogEntry.BlogEntryFiles);}
        </p>
        <div class="form-group">
            <input type="file" name="file" id="file" />
        </div>
        <input id="submitUpload" type="submit" value="@Common.Upload" class="btn" />
    </form>
}