<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action(MVC.Administration.EditBlogEntry())" title="@Common.NewBlogEntry"><img src="@Links.gx.edit_png" alt="@Common.NewBlogEntry" /><br />@Common.NewBlogEntry</a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action(MVC.Administration.Statistics())" title="@Common.Statistics"><img src="@Links.gx.chart_png" alt="@Common.Statistics" /><br />@Common.Statistics</a>
    </div>
    <div class="scol-md-2">
        <a href="@Url.Action(MVC.Administration.Images())" title="@Common.ImagesManagement"><img src="@Links.gx.image_png" alt="@Common.ImagesManagement" /><br />@Common.ImagesManagement</a>
    </div>
</div>